body{
    background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/streams/2012/April/120410/318811-120410-ent-springfield-vmed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

._shadow1{
    border: 1px solid;
    box-shadow: 0px 0px 20px 10px rgb(242, 189, 30);
}


._shadow2{
    text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
    color: rgb(242, 189, 30)
}

._noshadow{
    text-shadow: none;
    color: black;
}