body{
    background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/streams/2012/April/120410/318811-120410-ent-springfield-vmed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}